{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<form method="post" class="login-form">
  {% csrf_token %}
  <div class="imgcontainer">
    <img src="{% static 'img/avatar.png' %}" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="id_login"><b>Username or Email</b></label>
    {{ form.login }}

    <label for="id_password"><b>Password</b></label>
    {{ form.password }}

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" name="remember" checked="checked"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn" onclick="window.location.href='/'">Cancel</button>
    <span class="psw">Forgot <a href="{% url 'account_reset_password' %}">password?</a></span>
  </div>
</form>
{% endblock %}